table {
  width: 30%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: center;
}
th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
